@import "../../styles/variables";

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 14px;
  height: 30px;
  background: $header-bg;
}

.cartContainer {
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.cartBtn {
  display: flex;
  align-items: center;
  border: thin solid transparent;
  height: 100%;
  padding: 0 8px;
  z-index: 1;
  transition: 0.2s ease-out;
  * {
    color: $font-light;
    margin: 0 4px;
  }
  .icon {
    font-size: 12px;
  }
  .label {
    display: none;
  }
  .counter {
    font-family: $arimo;
    font-size: 11px;
  }
  &:hover,
  &.activeBtn {
    background: white;
    * {
      color: $font-dark;
    }
  }
  &.activeBtn {
    border-color: $border-light;
    border-bottom-color: white;
    transition: none;
  }
}

.miniCart {
  position: absolute;
  width: calc(100vw - 48px);
  bottom: 2px;
  right: 0;
  transform: translateY(100%);
  display: flex;
  flex-direction: column;
  position: absolute;
  background: white;
  border: thin solid $border-light;
  padding: 0 14px;
}

.cartItem {
  margin: 18px 0;
  display: flex;
}

.itemImage {
  width: 70px;
}

.itemDetails {
  display: flex;
  flex-direction: column;
}
