@import "../../styles/variables";

.container {
  margin: 18px 0;
  display: flex;
}

.image {
  width: 70px;
}

.details {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  * {
    font-family: $inter;
  }
  div {
    margin-bottom: 10px;
  }
}

.title {
  font-size: 13px;
  letter-spacing: -0.015em;
}

.quantity {
  font-size: 12px;
  .price {
    font-size: 13px;
    font-weight: 700;
  }
}

.size {
  font-size: 12px;
  letter-spacing: -0.015em;
}

@media only screen and (min-width: 768px) {
  .container {
    margin: 16px 0;
  }
  .image {
    width: 82px;
  }
  .details {
    margin-left: 18px;
    div {
      margin-bottom: 11px;
    }
  }
  .title {
    font-size: 15px;
    letter-spacing: -0.0125em;
  }
  .quantity {
    font-size: 14px;
    .price {
      font-size: 15px;
    }
  }
  .size {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    margin: 25px 0;
  }
  .image {
    width: 94px;
  }
  .details {
    margin-left: 21px;
    div {
      margin-bottom: 19px;
    }
  }
  .title {
    font-size: 17px;
    letter-spacing: -0.01em;
  }
  .quantity {
    font-size: 17px;
    .price {
      font-size: 17px;
    }
  }
  .size {
    font-size: 16px;
  }
}
