@import "../../styles/variables";

.container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 11px;
  color: $font-light;
  font-family: $inter;
  font-weight: 600;
  letter-spacing: 0.06em;
  span {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
  }
  .required {
    margin-left: -0.25em;
    color: $required;
  }
  .selectedOption {
    color: $font-dark;
    font-weight: 600;
    margin-left: 8px;
  }
  .error {
    color: $required;
    margin-left: 8px;
    font-weight: 400;
  }
}

.btnContainer {
  margin-top: 13px;
  display: flex;
}

.btn {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $font-light;
  font-weight: 500;
  font-family: $inter;
  font-size: 11px;
  border: thin solid $border-light;
  margin-right: 5px;
  &.selectedBtn {
    color: $font-dark;
    border: 2px solid $border-dark;
  }
}

.addBtn {
  align-self: flex-start;
  margin-top: 20px;
  height: 35px;
  padding: 0 18px;
  display: flex;
  align-items: center;
  font-family: $inter;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.04em;
  border: 2px solid $border-dark;
}

@media only screen and (min-width: 768px) {
  .container {
    margin-top: 42px;
  }
  .heading {
    font-size: 13px;
  }
  .btn {
    height: 52px;
    width: 52px;
    font-size: 13px;
    margin-right: 8px;
  }
  .addBtn {
    margin-top: 28px;
    height: 40px;
    padding: 0 22px;
    font-size: 16px;
    letter-spacing: 0.047em;
  }
}
