@import "../styles/variables";

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5vw;
  height: 2.5rem;
  background: $header-bg;
}

.cartButton {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  font-size: 12px;
  color: $font-light;
}
