@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$inter: "Inter", sans-serif;
$arimo: "Arimo", sans-serif;
$border-light: #cccccc;
$border-dark: #222222;
$font-light: #888888;
$font-dark: #222222;
$header-bg: #f6f6f7;
$required: #c90000;
