@import "./variables";

.container {
  padding-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  padding: 30px 14px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: auto;
}

.productInfo {
  display: flex;
  flex-direction: column;
}

.h1 {
  margin-top: 30px;
  font-family: $inter;
  font-weight: 500;
  font-size: 19px;
}

.divider {
  display: none;
}

.price {
  margin-top: 19px;
  font-family: $arimo;
  font-weight: 700;
  font-size: 14px;
}

.description {
  margin-top: 20px;
  font-size: 12px;
  line-height: 21px;
  color: $font-light;
  font-family: $inter;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .container {
    padding-top: 17px;
  }
  .main {
    align-self: center;
    flex-direction: row;
    max-width: none;
    padding-top: 39px;
  }
  .imgContainer {
    flex: 1 1 0;
    max-width: 534px;
    margin-right: 14px;
  }
  .productInfo {
    flex: 1 1 0;
  }
  .h1 {
    font-size: 22px;
    margin-bottom: 26px;
  }
  .divider {
    display: block;
    width: 100%;
    height: 1px;
    background: #f8f8f8;
  }
  .price {
    margin: 14px 0;
    font-size: 16px;
  }
  .description {
    margin-top: 22px;
    font-size: 13px;
    line-height: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    padding-top: 20px;
  }
  .main {
    padding-top: 48px;
    padding-bottom: 24px;
  }
  .imgContainer {
    margin-right: 203px;
  }
  .productInfo {
    max-width: 627px;
  }
  .h1 {
    font-size: 26px;
  }
  .price {
    font-size: 19px;
  }
  .description {
    font-size: 16px;
    line-height: 28px;
  }
}
